<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>New energy</title>
</head>
<body>   
    <div class="container">
        <h1>Dopamine App</h1>
        <a href="/food/new" class="btn btn-success">New Food</a><br><br>
    <a href="/activity/new" class="btn btn-success">New Activity</a><br><br>
    <a href="/energy/new" class="btn btn-success">New energy</a><br><br>
    <!--
<a href="/food" class="btn btn-success">Listed Foods</a><br><br>
    <a href="/activity" class="btn btn-success">Listed Activities</a><br><br>
    
     <a href="/energy" class="btn btn-success">Listed Energies</a>
    <br>
        <% energies.forEach(energy=> { %>
            <div class="card mt-4">
                <div class="card-body">
       <p>Weight: <%= energy.weight %></p>
       <p>Bloodsugar: <%= energy.bloodsugar %></p>
       <p>Bloodpressure: <%= energy.bloodpressure %></p>
       <p>Oxygen: <%= energy.oxygen %></p>
       <p>Pulse: <%= energy.pulse %></p>
       <p>Hip (Inches): <%= energy.hip %></p>
       <p>Waist (Inches): <%= energy.waist %></p>
       <p>Chest (Inches): <%= energy.inches %></p>
       <p>Date: <%= energy.date %></p>
       <p>Note: <%= energy.note %></p>
       </div>
       </div>
       <% }) %>
    <a href="/" class="btn btn-secondary">All Entries</a>
-->
</div>
</body>
</html>