<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Dopamine App</title>
</head>

<body>
  <div class="container">
    <h1>Dopamine App</h1>
        <a href="/food/new" class="btn btn-success">New Food</a>
    <a href="/activity/new" class="btn btn-success">New Activity</a>
    <a href="/measurements/new" class="btn btn-success">New Measurement</a>
    <a href="/food" class="btn btn-success">Listed Foods</a>
    <a href="/activity" class="btn btn-success">Listed Activities</a>
    <a href="/measurements" class="btn btn-success">Listed Measurements</a>
    <br>
<br>

    <% foods.forEach(food=> { %>
      <div class="card mt-4">
        <div class="card-body">
          <p><b>ID:</b>
            <%= food.id %>
          </p>
          <p><b>Food:</b>
            <%= food.food %>
          </p>
          <p><b>Ounces:</b>
            <%= food.ounces %>
          </p>
          <p><b>Date: </b>
            <%= food.date %>
          </p>
          <p><b>How Does This Make You Feel When You Begin?:</b>
            <%= food.happy_begin %>, <%= food.sad_begin %>, <%= food.mad_begin %>, <%= food.scared_begin %>,<%= food.excited_begin %>, <%= food.apathy_begin %>
          </p>
          <p><b>How Does This Make You Feel When You Are Done?:</b>
            <%= food.happy_done %>, <%= food.sad_done %>, <%= food.mad_done %>, <%= food.scared_done %>,<%= food.excited_done %>, <%= food.apathy_done %>
          </p>
          <p><b>Water (ounces):</b>
            <%= food.water %>
          </p>
          <p><b>Notes: </b>
            <%= food.note %>
          </p>

        </div>

        <% }) %>

      </div>
</body>

</html>