<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Dopamine App</title>
</head>
<body>
    <div class="container">
    <h1>Dopamine App</h1>

    <a href="/entries/new" class="btn btn-success">New Entry</a>

    <% entries.forEach(entry => { %>
        <div class="card mt-4">
          <div class="card-body">
            <p><b>ID:</b> <%= entry.id %></p>
            <p><b>Food:</b> <%= entry.food %></p>
            <p><b>Ounces:</b> <%= entry.ounces %></p>
            <p><b>Date: </b><%= entry.date %></p>
            <p><b>How Does This Make You Feel?:</b> <%= entry.happy %>, <%= entry.sad %>, <%= entry.mad %>, <%= entry.excited %>, <%= entry.apathy %></p>
            <p><b>Notes: </b><%= entry.note %></p>
            <a href="/entries/edit/<%- entry.id %>" class="btn btn-info">Edit</a>
          <form action="/entries/<%- entry.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
        
      <% }) %>

</div>
</body>
</html>



