<div class="form-group">  

    <label>When Did You Do This?</label>
    <br />
    <input type="datetime-local" id="date" name="date" value="<%= measurement.date %>" class="form-control" />
    <br /><br />
    <label for="weight">Weight (LBS)</label>
    <input type="text" id="weight" value="<%= measurement.weight %>" name="weight" class="form-control" />
    <br /><br />
    <label for="bloodsugar">Bloodsugar</label>
    <input type="number" id="bloodsugar" value="<%= measurement.bloodsugar %>" name="bloodsugar" class="form-control" />
    <br /><br />
    <label for="systolicbp">Systolic Bloodpressure</label>
    <input type="number" id="systolicbp" value="<%= measurement.systolicbp %>" name="systolicbp" class="form-control" />
    <br />
    <label for="dystolicbp">Dystolic Bloodpressure</label>
    <input type="number" id="dystolicbp" value="<%= measurement.dystolicbp %>" name="dystolicbp" class="form-control" />
    <br /><br />
    <label for="oxygen">Oxygen</label>
    <input type="number" id="oxygen" value="<%= measurement.oxygen %>" name="oxygen" class="form-control" />
    <br /><br />
    <label for="pulse">Pulse</label>
    <input type="number" id="pulse" value="<%= measurement.pulse %>" name="pulse" class="form-control" />
    <br /><br />
    <label for="hip">Hip (Inches)</label>
    <input type="text" id="hip" value="<%= measurement.hip %>" name="hip" class="form-control" />
    <br />
    <label for="waist">Waist (Inches)</label>
    <input type="text" id="waist" value="<%= measurement.waist %>" name="waist" class="form-control" />
    <br />
    <label for="chest">Chest (Inches)</label>
    <input type="text" id="chest" value="<%= measurement.chest %>" name="chest" class="form-control" />
    <br /><br />
    
  
    <label>Notes:</label>
    <br />
    <textarea type="text" id="note" value="<%= measurement.note %>" name="note" class="form-control"></textarea>
    <br /><br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>