<div class="form-group">  

    <label>When Did You Do This?</label>
    <br />
    <input type="datetime-local" id="date" name="date" value="<%= measurement.date %>" class="form-control" />
    <br /><br />
    <label for="weight">Weight (LBS)</label>
    <input type="text" id="weight" value="<%= measurement.weight %>" name="weight" class="form-control" />
    <br /><br />
    <label for="bloodsugar">Bloodsugar</label>
    <input type="number" id="bloodsugar" value="<%= measurement.bloodsugar %>" name="bloodsugar" class="form-control" />
    <br /><br />
    <label for="systolicbp">Systolic Bloodpressure</label>
    <input type="number" id="systolicbp" value="<%= measurement.systolicbp %>" name="systolicbp" class="form-control" />
    <br />
    <label for="dystolicbp">Dystolic Bloodpressure</label>
    <input type="number" id="dystolicbp" value="<%= measurement.dystolicbp %>" name="dystolicbp" class="form-control" />
    <br /><br />
    <label for="oxygen">Oxygen</label>
    <input type="number" id="oxygen" value="<%= measurement.oxygen %>" name="oxygen" class="form-control" />
    <br /><br />
    <label for="pulse">Pulse</label>
    <input type="number" id="pulse" value="<%= measurement.pulse %>" name="pulse" class="form-control" />
    <br /><br />
    <label for="hip">Hip (Inches)</label>
    <input type="text" id="hip" value="<%= measurement.hip %>" name="hip" class="form-control" />
    <br />
    <label for="waist">Waist (Inches)</label>
    <input type="text" id="waist" value="<%= measurement.waist %>" name="waist" class="form-control" />
    <br />
    <label for="chest">Chest (Inches)</label>
    <input type="text" id="chest" value="<%= measurement.chest %>" name="chest" class="form-control" />
    <br /><br />
    <label for="bmi">BMI</label>
    <input type="text" id="bmi" value="<%= measurement.bmi %>" name="bmi" class="form-control" />
    <br />
    <label for="totalBodyWater">Total Body Water</label>
    <input type="text" id="totalBodyWater" value="<%= measurement.totalBodyWater %>" name="totalBodyWater" class="form-control" />
    <br />
    <label for="dryLeanMass">Dry Lean Mass</label>
    <input type="text" id="dryLeanMass" value="<%= measurement.dryLeanMass %>" name="dryLeanMass" class="form-control" />
    <br />
    <label for="bodyFatMass">Body Fat Mass</label>
    <input type="text" id="bodyFatMass" value="<%= measurement.bodyFatMass %>" name="bodyFatMass" class="form-control" />
    <br />
    <label for="skeletalMuscleMass">Skeletal Muscle Mass</label>
    <input type="text" id="skeletalMuscleMass" value="<%= measurement.skeletalMuscleMass %>" name="skeletalMuscleMass" class="form-control" />
    <br />
    <label for="percentBodyMass">Percent Body Mass</label>
    <input type="text" id="percentBodyMass" value="<%= measurement.percentBodyMass %>" name="percentBodyMass" class="form-control" />
    <br />
    <label for="slaLeftArmLb">Left Arm SLA LB</label>
    <input type="text" id="slaLeftArmLb" value="<%= measurement.slaLeftArmLb %>" name="slaLeftArmLb" class="form-control" />
    <br />
    <label for="slaRightArmLb">Right Arm SLA LB</label>
    <input type="text" id="slaRightArmLb" value="<%= measurement.slaRightArmLb %>" name="slaRightArmLb" class="form-control" />
    <br />
    <label for="slaLeftLegLb">Right Leg SLA LB</label>
    <input type="text" id="slaLeftLegLb" value="<%= measurement.slaLeftLegLb %>" name="slaLeftLegLb" class="form-control" />
    <br />
    <label for="slaRightLegLb">Right Leg SLA LB</label>
    <input type="text" id="slaRightLegLb" value="<%= measurement.slaRightLegLb %>" name="slaRightLegLb" class="form-control" />
    <br />
    <label for="slaTrunkLb">Trunk SLA LB</label>
    <input type="text" id="slaTrunkLb" value="<%= measurement.slaTrunkLb %>" name="slaTrunkLb" class="form-control" />
    <br />
    <label for="slaLeftArmPercent">Left Arm SLA Percent</label>
    <input type="text" id="slaLeftArmPercent" value="<%= measurement.slaLeftArmPercent %>" name="slaLeftArmPercent" class="form-control" />
    <br />
    <label for="slaRightArmPercent">Right Arm SLA Percent</label>
    <input type="text" id="slaRightArmPercent" value="<%= measurement.slaRightArmPercent %>" name="slaRightArmPercent" class="form-control" />
    <br />
    <label for="slaLeftLegPercent">Left Leg SLA Percent</label>
    <input type="text" id="slaLeftLegPercent" value="<%= measurement.slaLeftLegPercent %>" name="slaLeftLegPercent" class="form-control" />
    <br />
    <label for="slaRightLegPercent">Right Leg SLA Percent</label>
    <input type="text" id="slaRightLegPercent" value="<%= measurement.slaRightLegPercent %>" name="slaRightLegPercent" class="form-control" />
    <br />
    <label for="slaTrunkPercent">Trunk SLA Percent</label>
    <input type="text" id="slaTrunkPercent" value="<%= measurement.slaTrunkPercent %>" name="slaTrunkPercent" class="form-control" />
    <br />
    <label for="leanBodyMass">Lean Body Mass</label>
    <input type="text" id="leanBodyMass" value="<%= measurement.leanBodyMass %>" name="leanBodyMass" class="form-control" />
    <br />
    <label for="bodyFatMass">Body Fat Mass</label>
    <input type="text" id="bodyFatMass" value="<%= measurement.bodyFatMass %>" name="bodyFatMass" class="form-control" />
    <br />
    <label for="impedanceLeftArmTwenty">Left Arm 20Hz Impedance</label>
    <input type="text" id="impedanceLeftArmTwenty" value="<%= measurement.impedanceLeftArmTwenty %>" name="impedanceLeftArmTwenty" class="form-control" />
    <br />
    <label for="impedanceRightArmTwenty">Right Arm 20Hz Impedance</label>
    <input type="text" id="impedanceRightArmTwenty" value="<%= measurement.impedanceRightArmTwenty %>" name="impedanceRightArmTwenty" class="form-control" />
    <br />
    <label for="impedanceLeftLegTwenty">Left Leg 20Hz Impedance</label>
    <input type="text" id="impedanceLeftLegTwenty" value="<%= measurement.impedanceLeftLegTwenty %>" name="impedanceLeftLegTwenty" class="form-control" />
    <br />
    <label for="impedanceRightLegTwenty">Right Leg 20Hz Impedance</label>
    <input type="text" id="impedanceRightLegTwenty" value="<%= measurement.impedanceRightLegTwenty %>" name="impedanceRightLegTwenty" class="form-control" />
    <br />
    <label for="impedanceTrunkTwenty">Trunk 20Hz Impedance</label>
    <input type="text" id="impedanceTrunkTwenty" value="<%= measurement.impedanceTrunkTwenty %>" name="impedanceTrunkTwenty" class="form-control" />
    <br />
    <label for="impedanceLeftArmHundred">Left Arm 100Hz Impedance</label>
    <input type="text" id="impedanceLeftArmHundred" value="<%= measurement.impedanceLeftArmHundred %>" name="impedanceLeftArmHundred" class="form-control" />
    <br />
    <label for="impedanceRightArmHundred">Right Arm 100Hz Impedance</label>
    <input type="text" id="impedanceRightArmHundred" value="<%= measurement.impedanceRightArmHundred %>" name="impedanceRightArmHundred" class="form-control" />
    <br />
    <label for="impedanceLeftLegHundred">Left Leg 100Hz Impedance</label>
    <input type="text" id="impedanceLeftLegHundred" value="<%= measurement.impedanceLeftLegHundred %>" name="impedanceLeftLegHundred" class="form-control" />
    <br />
    <label for="impedanceRightLegHundred">Right Leg 100Hz Impedance</label>
    <input type="text" id="impedanceRightLegHundred" value="<%= measurement.impedanceRightLegHundred %>" name="impedanceRightLegHundred" class="form-control" />
    <br />
    <label for="impedanceTrunkHundred">Right Leg 100Hz Impedance</label>
    <input type="text" id="impedanceTrunkHundred" value="<%= measurement.impedanceTrunkHundred %>" name="impedanceTrunkHundred" class="form-control" />
    <br />
  
    <label>Notes:</label>
    <br />
    <textarea type="text" id="note" value="<%= measurement.note %>" name="note" class="form-control"></textarea>
    <br /><br />
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Submit</button>